<html>
  <head>
    <title>Hello There!</title>
  </head>
  <body>
    <div>
      {{#unless attachments}}
        No attachments have been uploaded!
      {{/unless}}
      {{#if attachments}}
        Attachments uploaded:
        <ol>
          {{#each attachments}}
            {{! NOTE: This turns off HTML escaping for demonstration. It's
              unlikely you'll want to do this in your own projects. }}
            <li>{{{this}}}</li>
          {{/each}}
        </ol>
      {{/if}}
    </div>

    <hr />

    <div>
      <form action="attachments" enctype="multipart/form-data" method="post">
        <label>Add File:
          <input name="attachment" type="file"></input>
        </label>
        <input type="submit" value="Upload" />
      </form>
    </div>
  </body>
</html>